html, body
{
  	margin:0;
  	height:100%;
    overflow:auto;

    /* Cross Platform solution to remove user select highlight */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvasPaint {
    width:100%;
    height:100%;

    min-width:800px;
    min-height:600px;
}

#canvasPaint > canvas {
    width:92%;
    height:100%;
    display:inline-block;
}

/***************************************************************************/
/*                      MENU AND ITS INNER BUTTONS
/***************************************************************************/
.menu {
    display:inline-block;
    float:left;
    width:8%;
    height:100%;
    background-color:rgb(200,200,200);
    color:black;
}

.menuButton {
    height:3%;
    padding:3%;
    padding-left:10%;
    padding-right:10%;
}

.menuButton div {
    cursor:pointer;
    width:100%;
    height:100%;
    background-color:red;
}

.menuButton input {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    cursor:pointer;
    width:100%;
    height:100%;
}

.menuButton input[type="color" i] {
    padding:0px;
}
