html, body
{
  	margin:0;
  	height:100%;
    overflow:auto;

    /* Cross Platform solution to remove user select highlight */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvasPaint {
    width:100%;
    height:100%;

    min-width:800px;
    min-height:600px;
}

#canvasPaint > canvas {
    width:92%;
    height:100%;
    display:inline-block;
}

/***************************************************************************/
/*                      MENU AND ITS INNER BUTTONS
/***************************************************************************/
.menu {
    display:inline-block;
    float:left;
    width:38px;
    height:100%;
    background-color:rgb(200,200,200);
    color:black;
    overflow-y:auto;
}

.menuButton {
    width:32px;
    height:32px;
    padding:3px;
}

.menuButton p {
    cursor:pointer;
    height:100%;
    margin:0px;
    font-size:14px;
    line-height:28px;
    text-align:center;
}

.menuButton img {
    cursor:pointer;
    width:100%;
    height:100%;
}

.menuButton p:hover, .menuButton p:focus,
.menuButton img:hover, .menuButton img:focus
 {
    width:30px;
    height:30px;
    border: 1px solid black;
}

/***************************************************************************/
/*                      MODAL AND ITS CONTENTS
/***************************************************************************/
#customModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Modal animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding:10px;
    background-color: #5cb85c;
    color: white;
}

.modal-header h2 {
    margin-top:5px;
    margin-bottom:5px;
}

.modal-body {
    padding:5px;
}
.modal-body button {
    margin-left:5px;
}
.modal-body button {
    background-color:#5cb85c;
    color:white;
    outline:none;
    border:none;
    font-weight:bold;
}
.modal-body button:hover,
.modal-body button:focus {
    color: black;
    cursor: pointer;
}
